@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#map-wrapper {
  width: 100%;
  height: 500px;
  position: relative;
}

#button-wrapper {
  position: absolute;
  z-index: 1200;
  bottom: 4em;
  left: 40%;
}

#right-nav {
  position: absolute;
  z-index: 1200;
  right: 15px;
}

#custom-container {
  border-top-left-radius: 50px 20%;
  border-top-right-radius: 50px 20%;
  border-bottom-right-radius: 50px 20%;
  border-bottom-left-radius: 50px 20%;
}

/* #4CAF50

#B2DFDB

#F0F0F0 */
